body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: rgb(184, 233, 215);  
}

.container {
    display: flex; 
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar {
    width: 30%;
    padding: 20px;
    background-color:rgb(26, 81, 50) ; 
    color: #fff;
}


.profile-section {
    text-align: center;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid gray;
    object-fit: cover;
}

.name {
    margin: 10px 0;
}


.skills-section {
    margin-top: 20px;
}

.skills-section h2 {
    color: white;
    text-align: center;
}

.skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills-list li {
    background-color: rgb(120, 174, 143); 
    color: white; 
    padding: 10px;
    text-align: center;
    margin: 5px 0;
    border-radius: 5px;
}


.main-content {
    width: 70%; 
    padding: 20px;
}


h2 {
    color:rgb(26, 81, 50) ; ;
}


.education-item {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.experience-section {
    margin-bottom: 20px;
}


.edit-button {
    text-align: center;
    margin-top: 20px;
}

#editButton,
#downloadButton {
    background-color: rgb(26, 81, 50) ; 
    padding: 14px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    margin: 10px;
}


#shareLinkContainer {
    text-align: center;
}

#copyLinkButton {
    margin-top: 20px;
    background-color: rgb(26, 81, 50) ; 
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }
    
    .sidebar {
        width: 100%; 
        padding: 10px;
        border-radius: 1px;
    }
    .main-content {
        width: 100%; 
        padding: 10px;
    }
}

/* Print Styles */
@media print {
    @page {
        margin: 0;
    }

    body {
        margin: 0; 
        background-color: white; 
    }

  
    * {
        -webkit-print-color-adjust: exact; 
        print-color-adjust: exact;
    }

   
    .skills-section {
        color: #003366; 
    }

    
    #editButton,
    #downloadButton,
    #shareLinkContainer,
    .edit-button {
        display: none; /
    }
}
